<ion-header [translucent]="true">

  <ion-toolbar class="barra">
    <ion-title>App Registro Duoc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class = "fondo">

  <ion-img src="assets/img-splash.svg" class="imagen-login"></ion-img>

  <div class="ion-margin ion-text-center">
    <ion-label class="titulo"> Bienvenido </ion-label>
  </div>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-input  [(ngModel)]="mdl_correo" label="Correo Electronico" label-placement="floating" fill="outline"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input  [(ngModel)]="mdl_contrasena" label="Contraseña" type="password" label-placement="floating" fill="outline"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button  (click)="loginUsuario()" class="boton">Ingresar</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button  (click)="navegarRegistro()" class="boton">Crear Cuenta</ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>




</ion-content>
